{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- [ Main Content ] start -->
    <!DOCTYPE html>
    <html>
    <head>
        <title>ApexCharts con JSON generado por Celery Beat</title>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>
    <body>
        <div id="chart"></div>
        <script>
            // Función para obtener los datos del JSON generado por Celery Beat
            function getData() {
                $.ajax({
                    type: 'GET',
                    url: '/get_data/', // URL que devuelve el JSON generado por Celery Beat
                    dataType: 'json',
                    success: function(data) {
                        // Renderizar la gráfica con los datos obtenidos
                        renderChart(data);
                    }
                });
            }
    
            // Función para renderizar la gráfica con ApexCharts
            function renderChart(data) {
                var options = {
                    chart: {
                        type: 'line'
                    },
                    series: [{
                        name: 'Datos',
                        data: data
                    }],
                    xaxis: {
                        type: 'datetime'
                    }
                };
    
                var chart = new ApexCharts(document.getElementById('chart'), options);
                chart.render();
            }
    
            // Llamar a la función para obtener los datos y renderizar la gráfica
            getData();
        </script>
    </body>
    </html>
            
{% endblock content %}

<!-- Specific Page JS goes HERE  -->

