	<!-- [ Header ] start -->
	<header class="pc-header ">
		<div class="header-wrapper">
			<div class="ms-auto">
				<ul class="list-unstyled">
					<li class="dropdown pc-h-item">
						<a class="pc-head-link dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="false" aria-expanded="false">
							{% if user.profile_pic %}
							<img src="{{user.profile_pic.url}}" alt="Imagen de perfil" class="user-avtar" >
							{% else %}
							<img src="/static/assets/images/user/no-avatar.jpg" alt="user-image" class="user-avtar">
							{% endif %}						
							<span>
								<span class="user-name">
									{{ request.user.username }}
								</span>
								<span class="user-desc">
									{{ request.user.email }}
								</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
							<a href="{% url 'profile' %}" class="dropdown-item">
								<img width="24" height="24" src="https://img.icons8.com/material-sharp/24/user-male-circle.png" alt="user-male-circle"/>
									<span>Perfil</span>
							</a>
							<a href="{% url 'preferences' %}" class="dropdown-item">
								<img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/horizontal-settings-mixer--v1.png" alt="horizontal-settings-mixer--v1"/>
									<span>Preferencias</span>
							</a>
							<a href="{% url 'logout' %}" class="dropdown-item">
								<img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/exit.png" alt="exit"/>
								<span>Cerrar sesión</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<!-- [ Header ] end -->
