	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
					<!-- ========  change your logo here ============ --><!--
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg"> 
			-->	
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Barra de navegación</label>
					</li>
					<div class="card text-center">
						<div class="card-body">
							<i class="feather icon-rocket f-40"></i>
							<a href="/" class="btn btn-primary btn-sm text-white m-0">
								<i class="material-icons-two-tone">refresh</i> Actualizar información</a> 
						</div>
					</div>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
