	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="/" class="b-brand">
					
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg"> 
			
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Barra de navegación</label>
					</li>
					<div class="card text-center h-100">
							<a href="/" class="btn btn-primary btn-sm text-white m-0 py-3">
								<i class="material-icons-two-tone text-white">refresh</i> Actualizar datos
							</a> 
					</div>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
