	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
					<!-- ========  change your logo here ============ --><!--
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg"> 
			-->	
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Barra de navegación</label>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Actualizar información (F5)</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Elementos</label>
						<span>Componentes IU</span>
					</li>
					<li class="pc-item">
						<a href="/bc_typography.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">edit</i></span><span class="pc-mtext">Tipografía</span></a>
					</li>
					<li class="pc-item">
						<a href="/icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">image</i></span><span class="pc-mtext">Iconos</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Tablas</label>
					</li>
					<li class="pc-item">
						<a href="/tbl_bootstrap.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Bootstrap tablas</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Gráficas & Mapas</label>
					</li>
					<li class="pc-item">
						<a href="/chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">pie_chart</i></span><span class="pc-mtext">Gráficas</span></a>
					</li>
					<li class="pc-item">
						<a href="/map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">map</i></span><span class="pc-mtext">Mapas</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>Otros</label>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">list_alt</i></span><span class="pc-mtext">Niveles de menú</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#!">Menu Level 2.1</a></li>
							<li class="pc-item pc-hasmenu">
								<a href="#!" class="pc-link">Menu level 2.2<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
								<ul class="pc-submenu">
									<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.1</a></li>
									<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.2</a></li>
									<li class="pc-item pc-hasmenu">
										<a href="#!" class="pc-link">Menu level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
										<ul class="pc-submenu">
											<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.1</a></li>
											<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.2</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="pc-item pc-hasmenu">
								<a href="#!" class="pc-link">Menu level 2.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
								<ul class="pc-submenu">
									<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.1</a></li>
									<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.2</a></li>
									<li class="pc-item pc-hasmenu">
										<a href="#!" class="pc-link">Menu level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
										<ul class="pc-submenu">
											<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.1</a></li>
											<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.2</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="pc-item"><a href="sample-page.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">storefront</i></span><span class="pc-mtext">Página de ejemplo</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
