<!DOCTYPE html>
<html lang="es-es">
<head>

    <title>
        RadonData - {% block title %}{% endblock %} 
    </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="/static/favicon_v2.ico" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="/static/assets/fonts/feather.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/fonts/material.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css" id="main-style-link">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">

	{% include 'includes/preloader.html' %}

	<!-- [ Mobile header ] start -->
	<div class="pc-header pc-mob-header">
		<div class="pcm-toolbar">
			<a href="#!" class="pc-head-link" id="mobile-collapse">
				<div class="hamburger hamburger--arrowturn">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<a href="#!" class="pc-head-link float-right" id="header-collapse">
				<i data-feather="more-vertical"></i>
			</a>
		</div>
	</div>
	<!-- [ Mobile header ] End -->

    
    {% include 'includes/sidebar.html' %}

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>

