{% extends "layouts/base-fullscreen.html" %}

{% block title %} Nueva contrasña {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-14">
                    <div class="card-body">
                        <h4 class="mb-4 f-w-400">Escriba la nueva contraseña </h4>
                        <p class="mb-3">Por favor, introduce tu nueva contraseña  dos veces para verificar que la has escrito correctamente.
                        </p>
                        <div class="container">
                        <form role="form" method="post" action="">
                            {% csrf_token %} 
                            <div class="form - group text-center mb-2">
                                {{ form }}
                            </div>
                            <br />
                            <button type="submit" name="resetpass" class="btn btn-block btn-primary mb-2">Restablecer contraseña</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}