{% extends "layouts/base.html" %}

{% block title %} Perfil {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pc-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                <div class="col-md-6 ">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Inicio</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">Perfil</li>
						<li class="breadcrumb-item">Actualiza tu perfil</li>
                    </ul>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <a href="/">
                    <button class="btn btn-shadow btn-primary">Volver a Inicio</button>
                    </a>
                </div>
            </div>
            </div>
        </div>
		<form action="" method="POST" enctype="multipart/form-data">
			<h4 class="mt-5 ">¡Mantén tu perfil actualizado!</h4>
			{% csrf_token %}

			<div class="row mt-3">
				{% for field in form  %}

				{% if field.errors %}
				<div class="col-md-5">
					<div class="mb-3">
						
						{{field}}

					</div>
					<small>{{field.errors}}</small>
				</div>
				{% else %}
				<div class="col-md-5">
					<div class="mb-3">
						
						{{field}}

					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>

			<button class="btn btn-primary " style="width: 83%">Actualizar perfil</button>
		</form>
		</div>

	</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
