{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard </h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item">Radon data</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header text-center">
                                <h1>Aula 0</h1>
                            <div class="card-body pb-0">
                                <h3 class="text-dark mb-1">{{ concentracion }}</h3>
                                <span class="text-primary">Concentración de radón (Bq/m3)</span>
                                <h4 class="mb-4 mt-3"></h4>
                            </div>
                                <div id="support-chart"></div>
                                <div class="card-footer border-0 bg-primary text-white background-pattern-white">
                                    <div class="row text-center">
                                        <div class="col">
                                            <h4 class="m-0 text-white">{{ media }}</h4>
                                            <span>Media diaria</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">15</h4>
                                            <span>Media semanal</span>
                                        </div>
                                        <div class="col">
                                            <h4 class="m-0 text-white">13</h4>
                                            <span>Media mensual</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="card support-bar overflow-hidden">
                                    <div class="card-body pb-0">
                                        <h2 class="m-0">1432</h2>
                                        <span class="text-primary">Order delivered</span>
                                        <p class="mb-3 mt-3">Total number of order delivered in this month.</p>
                                    </div>
                                    <div class="card-footer border-0">
                                        <div class="row text-center">
                                            <div class="col">
                                                <h4 class="m-0">130</h4>
                                                <span>May</span>
                                            </div>
                                            <div class="col">
                                                <h4 class="m-0">251</h4>
                                                <span>June</span>
                                            </div>
                                            <div class="col">
                                                <h4 class="m-0 ">235</h4>
                                                <span>July</span>
                                            </div>
                                        </div>
                                    </div>
                                <div id="support-chart1"></div>
                            </div>
                    </div>
                </div>
                </div>
                <div class="col-xl-6 col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h5>Department wise monthly sales report</h5>
                        </div>
                        <div class="card-body">
                            <div class="row pb-2">
                                <div class="col-auto m-b-10">
                                    <h3 class="mb-1">$21,356.46</h3>
                                    <span>Total Sales</span>
                                </div>
                                <div class="col-auto m-b-10">
                                    <h3 class="mb-1">$1935.6</h3>
                                    <span>Average</span>
                                </div>
                            </div>
                            <div id="account-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard-sale.js"></script>

{% endblock javascripts %}
