{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet">
<style>
.daterangepicker .calendar-table td.in-range {
    background-color: #dedbf6 ;
}

.daterangepicker .calendar-table td.start-date, .daterangepicker .calendar-table td.end-date {
    background-color: #7267EF;
    color: #fff;
}

.daterangepicker .ranges li {
    font-family: "Inter", sans-serif;
    border: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top :10px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    transition: color 0.3s, 
}

.daterangepicker .ranges li:hover {
    background-color: #7267EF;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    }

.daterangepicker .ranges li.active {
    background-color: #7267EF;
    color: #fff;

}
.daterangepicker .range_inputs .cancelBtn {
    background-color: #28a745;
    color: white;
    border:#7267EF;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
}
.daterange-picker:hover {
    cursor: pointer;
}
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard </h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">Home</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            {% for aula in aulas_info %}   
            <div class="container-fluid">
                <div class="card mt-5">
                    <div class="card-header bg-light" >
                        <h1 class="mb-3 bg-primary d-inline-block text-white p-3 " >{{ aula.nombre }}</h1>
                        <div id="account-chart" class="chart">
                            <div class="row pb-2 ml-4">
                                <div class="col-auto m-b-10 d-flex align-items-center ml-5" >
                                    <h4>Concentración media:</h4>
                                </div>
                                <div class="col-auto mb-3 d-flex flex-column align-items-center mx-5">
                                    <h3 class="mb-1 text-center text-primary">{{ aula.media_diaria }}</h3>
                                    <span class="text-muted">Diaria</span>
                                </div>
                                <div class="col-auto mb-3 d-flex flex-column align-items-center mx-5">
                                    <h3 class="mb-1 text-center text-primary">{{ aula.media_semanal }}</h3>
                                    <span class="text-muted"> Semanal</span>
                                </div>
                                <div class="col-auto mb-3 d-flex flex-column align-items-center mx-5">
                                    <h3 class="mb-1 text-center text-primary ">{{ aula.media_mensual }}</h3>
                                    <span class="text-muted"> Mensual</span>
                                </div>
                                <div class="col-auto m-b-10 d-flex align-items-center ml-5" >
                                    <h4>Bq/m³</h4>
                                </div>
                            </div>
                        </div>
                        <div id="reportrange{{ forloop.counter }}" class="form-control daterange-picker" >
                            <i class="feather icon-calendar"></i>&nbsp;
                            <span></span> <i class="feather icon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div id="account-chart-dash{{ forloop.counter }}" class="chart">

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<!-- Moment.js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Date Range Picker JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!-- ApexCharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for aula in aulas_info %}
        const data{{ forloop.counter }} = JSON.parse('{{ aula.json|escapejs }}');
        const media{{ forloop.counter }} = parseFloat('{{ aula.media_semanal }}');
        

        const options_{{ forloop.counter }} = {
            chart:{
                type: 'area',
                stacked: true,
                height: 350,
                weight: 1000,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                toolbar: {
                    autoSelected: 'zoom'
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shadeIntensity: 1,
                    inverseColors: false,
                    opacityFrom: 0.75,
                    opacityTo: 0,
                    stops: [0, 90, 100]
                },
            },
            series:[{
                name: 'Concentración (Bq/m³)',
                data: data{{ forloop.counter }}.map(item => ({ x: new Date(item.x).getTime() - (new Date().getTimezoneOffset() * 60000), y: item.y })),
                
            }],
            stroke :{
                width: 2,

            },
            xaxis:{
                type: 'datetime',
                labels: {
                    format: 'HH:mm'
                },
            },
            yaxis: {
                title: {
                    text: 'Concentración de radón (Bq/m³)',
                },
            },
            colors: ["#7267EF"],
            dataLabels: {
                enabled: false
            },
            tooltip:{
                x:{
                    format: 'dd MMM yyyy HH:mm:ss'
                }
            },
            legend:{
                position: 'bottom',
                horizonalAlign:'center',
            },
            annotations: {
                yaxis: [{
                    y: media{{ forloop.counter }},
                    borderColor: '#FF9033',
                    borderWidth: 1,
                    strokeDashArray: [7.5, 5], 
                    label: {
                        borderColor: '#7267EF',
                        style: {
                            color: '#F6FAF8 ',
                            background: '#FF9033',
                        },
                        text: `Media: ${media{{ forloop.counter }}} Bq/m³`,
                    }
                }]
            }
        }
        const chart{{ forloop.counter }} = new ApexCharts(document.querySelector("#account-chart-dash{{ forloop.counter }}"), options_{{ forloop.counter }});
        chart{{ forloop.counter }}.render();

        function cb{{ forloop.counter }}(start, end) {
            $('#reportrange{{ forloop.counter }} span').html(start.format('MMMM D, YYYY HH:mm') + ' - ' + end.format('MMMM D, YYYY HH:mm'));
            // Update the chart data based on selected date range
            updateChart{{ forloop.counter }}(start, end);
        }

        $('#reportrange{{ forloop.counter }}').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            showDropdowns: true,
            drops: {
                month: {
                    className: 'daterangepicker-input'
                },
                year: {
                    className: 'daterangepicker-input'
                }
            },
            startDate: moment().subtract(6, 'days'),
            endDate: moment(),
            ranges: {
                'Hoy': [moment().startOf('days'), moment()],
                'Ayer': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'Últimas 24h': [moment().subtract(1, 'days'), moment()],
                'Últimos 7 días': [moment().subtract(6, 'days'), moment()],
                'Últimos 30 días': [moment().subtract(29, 'days'), moment()],
                'Este mes': [moment().startOf('month'), moment().endOf('month')],
                'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            locale:{
                format: 'MMMM D, YYYY HH:mm',
            },

        }, cb{{ forloop.counter }});

        cb{{ forloop.counter }}(moment().subtract(6, 'days'), moment());

        function updateChart{{ forloop.counter }}(start,end) {
            // Filtrar los datos según el rango de fechas seleccionado
            const filteredData{{ forloop.counter }} = data{{ forloop.counter }}.filter(item => {
                const date = new Date(item.x);
                return date >= start && date <= end;
            });

            const sum = filteredData{{ forloop.counter }}.reduce((acc, current) => acc + current.y, 0);
            const media = sum / filteredData{{ forloop.counter }}.length;
            
            // Actualizar los datos del gráfico
            chart{{ forloop.counter }}.updateSeries([{
                name: 'Concentración (Bq/m³)',
                data: filteredData{{ forloop.counter }}.map(item => ({ x: new Date(item.x).getTime() - (new Date().getTimezoneOffset() * 60000), y: item.y }))
            }]);
            
            chart{{ forloop.counter }}.updateOptions({
                annotations: {
                    yaxis: [{
                        y: media,
                        borderColor: '#FF9033',
                        borderWidth: 1,
                        strokeDashArray: [7.5, 5], 
                        label: {
                            borderColor: '#7267EF',
                            style: {
                                color: '#F6FAF8 ',
                                background: '#FF9033',
                            },
                            text: `Media: ${media.toFixed(2)} Bq/m³`,
                        }
                    }]
                }
            });

        }

        
        {% endfor %}
    });
</script>

{% endblock javascripts %}
